.test {
  font-size: 50px;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  text-align: left;
  padding: 20px;
  ol {
    margin-top: 50px;
  }
}
